body{
    margin: 0 20px auto 20px;
    text-align: center;
}
header{
    background-color: rgb(199, 225, 68);
    height: 80px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
h3{
    color:rgb(218, 76, 135) ;
    margin-top: 5px;
}
h1{
    margin-bottom: 2px;
    
}
.habits input{
    width: 300px;
    height: 20px;
}
.habits button{
    height: 25px;
    cursor: pointer;
}
.habits{
    width: 372px;
    margin-left: auto;
    margin-right: auto;
    display: inline;
}
h2{
    margin-top: 30px;
    text-align:left;
}
.habits-container{
    text-align: left;
    font-size: larger;
}